

.container{
    padding: 60px 0px;
    background-color: var(--primary-color);
}

.title{
    color: #fff;
    font-weight: 700;
}


.content_button{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}