
.card{
    cursor: pointer;
    background-color: hsla(0, 0%, 98%, 1);
    height: 100%;
}
.content_image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_avatar{
    width: 75%;
}


.title{
    font-size: 1rem;
}