:root{
  --primary-color: #101026;
  --secundary-color: #98CB4F;
}


body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsla(0, 0%, 90%, 0.90);
}

