.row{
    justify-content: center;
    height: 300px;
    flex-wrap: nowrap;
}

.image{
    width: 70%;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem{
    display: none;
}


.content{
    width: 100%;
    display: flex;
    align-items: center;
}
.title{
    font-size: 1rem;
}
.label{
    width: 70%;
}
.input{
    width: 100%;
    height: 38px;
    border: 1px solid #101026;
    border-right-width: 0;
    padding-left: 8px;
}

.input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btn{
    width: 30%;
    height: 38px;
    border: 1px solid #101026;
    border-radius: 0px;
    background-color: var(--secundary-color);
}

.btn:hover{
    background-color: var(--secundary-color);
    border: 1px solid #101026;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .imagem{
        display: flex;
    }
    .row{
        
        align-items: center;
        flex-direction: row;
        
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}